{% extends 'core/base.html'%}
{% load static %}
{% load humanize %}
{%block content%}
<h2> Ask a new question here. <span class="badge login"><a href="{% url 'ask_question' %}"> <i
        class="fas fa-plus fa-1x glow-icon"></i></a></span></h2>
<ul class="float-ul">
    <li class="float-li"><a class="float-a" href="#"><i
            class="fa fa-plus float-fa img-responsive"></i></a></li>
</ul>

{% for que in questions %}

    <div class="jumbotron border">
        <h1>{{ que.question }}</h1>
        <small class="text-muted">
            Asked {{ que.asked_at|naturaltime }} by {{ que.asked_by }}
        </small>
        <h5><a href="{% url 'add_answer' que.id %}">Answer this question now! </a></h5>
        <hr class="my-4 hr-home">
        <div class="answerview">


            {% if que.answer_set.count != 0 %}
            <img class="img-thumbnail" src="{{ que.answer_set.latest.answered_by.profile.image.url }}" alt="Card image cap">

            <small class="text-muted">Answered {{ que.answer_set.latest.answering_time|naturaltime }} by

                <a href="{% url 'user-answers' que.answer_set.latest.answered_by.username %}">
                    {{ que.answer_set.latest.answered_by.username }}</a>

            </small>

            <p>{{ que.answer_set.latest.answer|linebreaks|truncatewords:30 }}  </p><small class="text-muted"><a href="{% url 'answers' que.id %}" role="button">Read
                more</a></small>


        </div>
        {% else %}
        <small class="text-muted">No answers yet

            <a href="{% url 'add_answer' que.id %}">Answer now</a>

        </small>
        </div>
        {% endif %}
    </div>

{% endfor %}


<div class="container text-center">
    {% if is_paginated %}
    <div class="btn-group login rounded" aria-label="Basic example">
        {% if page_obj.has_previous %}
        <a type="button" class="btn glow " href="?page=1">First</a>
        <a type="button" class="btn glow" href="?page={{page_obj.previous_page_number}}">Prev</a>


        {% endif %}
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num%}
        <a type="button" class="btn btn-primary" href="?page={{num}}">{{num}}</a>
        {%elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a type="button" class="btn glow" href="?page={{num}}">{{num}}</a>
        {% endif %}

        {%endfor%}
        {% if page_obj.has_next %}
        <a type="button" class="btn glow" href="?page={{page_obj.next_page_number}}">Next</a>
        <a type="button" class="btn glow" href="?page={{page_obj.paginator.num_pages}}">Last</a>
        {% endif %}
    </div>
    {% endif%}
</div>
{% endblock %}
